.header, .hero, .body, .bar, .footer{
background-color: lime;
margin-bottom: 10px;
}

.box{
	min-height: 70px;
	background-color: teal;
	margin-bottom: 5px;
}

.red{
	background-color: red;
}